* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.cornerLogo {
  color: white;
  margin: 0;
  padding: 0;
  flex-grow: 0;
}

.barbellLogo {
  height: 100px;
  width: 100px;
  flex-grow: 0;
}

nav {
  padding: 10px;
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
}

nav a:hover {
  background-color: #575757;
  border-radius: 4px;
}
