/* 

  Color Pallete rgba(0, 0, 0, 0)
  rgb(16, 31, 39) 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #00879e;
}

header {
  background-color: #003092;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.cornerLogo {
  color: #ffab5b;
  font-weight: bolder;
  flex-grow: 0;
}

.barbellLogo {
  height: 7rem;
  width: 7rem;
  flex-grow: 0;
}

nav {
  padding: 10px;
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
}

nav a {
  color: #ffab5b;
  font-weight: bolder;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  font-size: 24px;
}

nav a:hover {
  background-color: #fff2db;
  border-radius: 4px;
}

.container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addWorkoutHome {
  font-size: 3rem;
  padding: 15px;
  background-color: #003092;
  color: #ffab5b;
}

.viewWorkoutHistory {
  font-size: 3rem;
  padding: 15px;
  background-color: #003092;
  color: #ffab5b;
}

.centeredLogo {
  align-self: center;
  order: -1; /* Ensure it appears before other elements */
}
